@model User
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="SubmitForm" enctype="multipart/form-data">
    <label>User:</label>
    <input asp-for="user" />
    <br />
    <label>Password:</label>
    <input asp-for="password" />
    <br />
    <label>Photo:</label>
    <input asp-for="photo" type="file" />
    <br />
    <button type="submit">Submit</button>
</form>
